*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  @include font-size($font-size-base);
  background-image: url(../images/ui-kit.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  font-family: $font-family-base;
  font-weight: 500;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    @include font-size(18px, 1.2);
  }

  @media (min-width: $screen-md-min) {
    @include font-size(20px, 1.5);
  }
}

h1, h2, h3, h4, h5, h6,
p, ol, ul, {
  margin-top: 0;
  margin-bottom: $sub;
}

h1 {
  @include font-size(28px, 1.5);
  font-weight: 700;

  br {
    display: none;

    @media (min-height: 321px) {
      display: inline;
    }
  }

  sup {
    font-weight: 500;
  }

  @media (min-width: $screen-sm-min) {
    @include font-size(60px, 3);
  }

  @media (min-width: $screen-lg-min) {
    @include font-size(80px, 3.5);

    sup {
      top: -0.75em;
      font-size: 44px;
    }
  }
}

a {
  display: inline-block;
  transition: all .2s;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-primary;
    border-color: $color-primary;
  }
}
