main {
  padding: $sub 0;

  @media (min-height: 480px) {
    height: 100%;
  }

  @media (min-width: $screen-sm-min) {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-left: -0.25em;
    }
  }

  .container {
    display: inline-block;
    vertical-align: middle;
    padding: 0 $sub;

    p {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    .btn-container {
      @media (min-height: 321px) {
        padding: $suh;
      }
    }
  }
}
