footer {
  position: relative;
  padding: $suh;
  text-align: center;

  @media (min-height: 480px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $screen-sm-min) {
    padding: $sub;
  }
}
