.social {
}

  .social-follow-us {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: inline;
    }
  }

  @each $network in twitter, dribbble, behance {
    .social-#{$network} {
      &:hover,
      &:focus {
        $color: map-get($network-colors, $network);
        border-bottom-color: $color;
        color: $color;
      }
    }
  }
