.toggle {
  padding: $suh $sub;
  border-bottom: none;

  &[data-to="top"] {
    display: none;
    transition: opacity .5s;
    pointer-events: none;
    opacity: 0;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
      position: absolute;
      top: $suh;
      right: $sub;
    }

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

  .toggle-container {
    @media (min-height: 480px) {
      margin-bottom: $sub;
    }
  }
