$font-family-base: "Neue Haas Grotesk W01 Disp", $helvetica;

$font-size-base: 16px;
$line-height-computed: 24px;
$line-height-base: $line-height-computed / $font-size-base;

$sub: $line-height-computed;
$suh: $line-height-computed / 2;

$color-primary: #f8db84;
$color-blue:    #1675c6;

$network-colors: (
  facebook:    #3b5998,
  twitter:     #00aced,
  google-plus: #da2713,
  vimeo:       #1bb7ea,
  youtube:     #e14d40,
  github:      #000000,
  gmail:       #d72c2c,
  linked-in:   #0274b3,
  instagram:   #2c6e8e,
  vine:        #00a478,
  dribbble:    #df4c85,
  behance:     #000000,
  flickr-blue: #1e65d9,
  flickr-pink: #fc1486,
  soundcloud:  #ff631c
);

$btn-primary-bg: $color-primary;
$btn-primary-color: #41557d;

// Small screen / tablet
$screen-sm-min:              768px !default;
// Medium screen / desktop
$screen-md-min:              992px;
// Large screen / wide desktop
$screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
